*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100vh; 
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c4d6ea;
  position: relative;
  overflow: hidden;
}

